# macOS
.DS_Store

# Node
node_modules/
dist/
build/
npm-debug.log*
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
env/
venv/
.venv/

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.tmp

# Logs
*.log

# Misc
Thumbs.db
.DS_Store
.env.local
.env.*.local
